sqlalchemy==2.0.32
psycopg2-binary==2.9.9
fastapi==0.112.1
httpx==0.27.0
python-dotenv==1.0.1
uvicorn==0.22.0
passlib==1.7.4
python-jose==3.3.0
python-multipart==0.0.9
apscheduler==3.10.4
yfinance==0.2.31